body{
  background-color: #f4eeed;
}
::selection {
  background: #7a563f;
  color: white;
}
/* Scroll Bar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f4eeed;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7a563f;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #a07458;
}
/* Base Classes */
.d-flex{
  display: flex;
}
.img-prop{
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 21vw;
  height: 33vw;
  margin-top: 4vw;
  margin-right: 2vw;
  margin-left: 2vw;
  padding: 16px 16px 16px 24px;
}
.montserrat{
  font-family: 'Montserrat', sans-serif;
}
.allura{
  font-family: 'Allura', cursive;
}
.cormorant{
  font-family: 'Cormorant Garamond', serif;
}
.nunito{
  font-family: 'Nunito Sans', sans-serif;
}
.main-nav {
  height: 11vh;
  justify-content: center;
  align-items: center;
  color: #7a563f;
  background:#f4eeed;
  position: fixed;
  width: 100%;
  top: 0;
}
.nav-links li:hover{
  transform: scale(1.15);
}
.nav-links li{
  transition: transform 0.3s ease-out;
}
.logo{
  display: none;
}
.nav-links {
  margin-top: 10px;
  display: flex;
  width: 75%;
  justify-content: space-between;
}
.burger {
  display: none;
  padding: 0.5rem;
  cursor: pointer;
}
.line {
  height: 1px;
  width: 26px;
  margin: 5px 0;
  background: #7a563f;
  transition: transform 0.75s ease, opacity 0.75s ease;
}
.nav-links a{
  font-size: 11px;
  color:  #7a563f;
  font-weight: 800;
  text-transform: uppercase;
}
.main-nav.show .line1 {
  transform: translate(-10px) rotate(45deg) translate(9px);
}
.main-nav.show .line2 {
  opacity: 0;
}
.main-nav.show .line3 {
  transform: translate(-10px) rotate(-45deg) translate(9px);
}
.main-nav.show .nav-links {
  transform: translateY(0%);
}


/* Section 1 */
.section-1{
  margin-top: 76px;
}
.make{
  max-width: 1200px;
  font-size: 96px;
  color:#684835;
  justify-content: center;
  align-items: center;
}
.centerer{
  margin-right: 0;
  padding: 55px 48px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.span{
  bottom: 8px;
  display: inline-block;
  height: 76px;
  padding-left: 16px;
  border-bottom: solid 2px #7a563f;
}
.p-section-1{
  font-size: 20px;
  padding-top: 30px;
  margin-bottom: 48px;
  color: #525258;
  font-weight: 500;
}
.btn{
  background-color: #7a563f;
  color: white;
  padding: 16px 32px;
  min-height: 48px;
  max-width: 270px;
  border-radius: 4px;
  font-size: 11px;
  border: none;
  font-weight: 800;
  letter-spacing: 2px;
  transition: background-color 0.2s linear;
  cursor: pointer;
}
.btn2{
  background-color:#f4eeed;
  color:#7a563f;
}
.btn3{
  background-color:#f4eeed;
  color:#7a563f;
  margin-top: 20px;
}
.btn1:hover{
  background: transparent;
  color: #7a563f;
  border: 2px solid #7a563f;
}
.btn2:hover,
.btn3:hover{
  background: transparent;
  border: 2px solid #f4eeed;
  color: #f4eeed;
}
.small-p{
  margin-top: 20px;
  margin-bottom: 48px;
  color: #525258;
  font-weight: 400;
  font-size: 14px;
}
.span1{
  border-bottom: 1px solid #525258;
  color: #525258;
  font-weight: 400;
  text-decoration: none;
}
/* Section 2 */
.section-2{
  border-bottom: 1px solid #f4eeed;
}
.section-2-div{
  width:100%;
	height:auto;
  background: linear-gradient(to bottom, #f4eeed 50%, #7a563f 50%);
  padding:30px 45px;
}
.pic1,
.pic2,
.pic3,
.pic4{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pic1,
.pic3{
  margin-top:0;
}
.pic1{
  background-image: url("https://images.pexels.com/photos/5885840/pexels-photo-5885840.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.pic2{
  background-image: url("https://images.pexels.com/photos/1070051/pexels-photo-1070051.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.pic3{
  background-image: url("https://images.pexels.com/photos/2462047/pexels-photo-2462047.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.pic4{
  background-image: url("https://images.pexels.com/photos/3206079/pexels-photo-3206079.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
}
.partners{
  background-color:  #7a563f;
  width: 100%;
  padding:30px 45px;
  padding-bottom: 32px;
  justify-content: space-around;
}
.part{
  display: flex;
  height: 80px;
  width: auto;
  padding: 0 16px;
  align-items: center;
  justify-content: center;
}
.partner{
  max-width: 80px;
  max-height: 80px;
}
.partner2{
  max-width: 120px;
  max-height: 120px;
}
.link-partner{
  background-color: #7a563f;
  display: block;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 100px;

}
.link-partner h2{
  color: white;
  font-size: 10px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}
/* Section 3 */
.section-3{
  padding-top: 80px;
  width: 100%;
  background-color: #7a563f;
  padding-bottom: 50px;
}
.large-num{
  margin-bottom: 16px;
  color: #f4eeed;
  font-size: 64px;
  line-height: 72px;
  text-align: center;
}
.info-container{
  justify-content: center;
}
.info-p{
  margin-bottom: 8px;
  color: #fff;
  font-size: 28px;
  line-height: 28px;
  text-align: center;
}
.info-p-1{
  max-width: 45%;
  line-height: 27px;
  margin-right: auto;
  margin-bottom: 16px;
  margin-left: auto;
  color: #f4eeed;
  text-align: center;
}
.btn-div{
  margin-top: 50px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
/* Section 4 */
.section-4{
  max-width: 100%;
}
.parallax{
  background-image: url("https://cdn.joelandsonfabrics.com/media/catalog/product/cache/ad8edc7db7d60c6f18acda2e15b81da5/3/4/344a_1.jpg");
  height: 50vw;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width:50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-2{
  width: 50%;
}
.story-h{
  margin-bottom: 24px;
  font-family: Canela, Georgia, sans-serif;
  font-style: italic;
  font-weight: 100;
  text-align: left;
  color: #525258;
}
.story-p{
  width: auto;
  max-width: 36ch;
  margin-bottom: 24px;
  font-family: Canela, Georgia, sans-serif;
  color: #525258;
  font-size: 18px;
  line-height: 30px;
  font-weight: 100;
  text-align: left;
}
.our-story{
  align-items: center;
  justify-content: center;
  width: 50%
}
.our-story-div{
  padding: 10px 20px;
}

/* Section 5 */
.section-5{
  width: 100%;
  background-color: #7a563f;
  padding: 100px 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: 1px solid #f4eeed;
  box-shadow: inset 1px 20px 19px rgb(0 0 0 / 22%);
}
.form-h{
  color: #f4eeed;
  font-size: 48px;
  line-height: 36px;
  text-align: center;
  max-width: 550px;
  margin-bottom: 20px;
}
.form-p{
  color: #f4eeed;
  font-size: 24px;
  max-width: 550px;
  text-align: center;
}
.form{
  width: 75%;
  justify-content: space-around;
  align-items: center;
  margin-top: 70px;
  flex-direction: column;
}
.form-container{
  width: 75%;
}
.lil-form{
  display: flex;
  flex-direction: column;
  color: #f4eeed;
  font-size: 13px;
  width: 48%;
}
.txt-area{
  width:75%;
}
.txt-area textarea{
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.txt-area textarea:focus{
  color:  #7a563f;
  font-size: 17px;
  outline: none;
  background-color: #f4eeed;
  padding: 2px 10px;
}
.first-form-div,
.second-form-div{
  width: 75%;
  height: 90px;
  justify-content: space-between;
}
.inp{
  height: 35px;
  margin-top:10px;
  margin-bottom:15px;
  border: 1px none #000;
  border-radius: 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.inp:focus{
  color:  #7a563f;
  font-size: 17px;
  outline: none;
  background-color: #f4eeed;
  padding: 2px 10px;
}
/* Footer */
footer{
  background-color: #7a563f;
  width: 100%;
  padding: 50px;
  justify-content: space-between;
  align-items: flex-start;
  height: 250px;
}
.faq{
  width: 45%;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}
.faq a:hover{
  transform: scale(1.05);
}
.faq a{
  transition: transform 0.3s ease-out;
}
.foot{
  font-size: 10px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #f4eeed;
}
.icons{
  width: 30%;
  font-size: 20px;
  justify-content: flex-end;
  align-items: center;
}
.icons a{
  color: #f4eeed;
  padding-left: 10px;
  padding-right: 10px;
}
.icons:nth-child(2){
  font-size: 15px;
}
/* LOOKBOOK PAGE */
.sec-1-h{
  font-size: 72px;
  color: #684835;
  justify-content: center;
  margin-bottom: 100px;
}
.section-1-1,
.partners-header{
  margin-top: 130px;
  width: 100%;
  justify-content: center;
}
.suit-img{
  max-width: 50%;
}
.lookbook-div{
  justify-content: space-between;
}
.lookbook-text{
  align-items: flex-start;
  flex-direction: column;
  color: #7a563f;
  padding: 20% 10%;
  background: linear-gradient(90deg, #95b4bb 0%, #f4eeed 100%);
}
.lookbook-text2{
  background: linear-gradient(90deg, rgba(244,238,237,1) 0%, #a09462 100%);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}
.lookbook-text1{
  background: linear-gradient(90deg, #95b4bb 0%, #f4eeed 100%);
  background-size: 400% 400%;
  animation: gradient 6s ease infinite;
}
.lookbook-text p:nth-child(1){
  font-size: 40px;
  margin-bottom: 80px;

}
.lookbook-text span{
  display: inline-block;
  border-bottom: 2px solid;
  line-height: 0.5em;
  font-size: 60px;
}
.lookbook-text p {
  margin-bottom: 15px;
}
.lookbook-text p:nth-child(2){
  font-size: 14px;
  font-weight: bold;
}
.lookbook-text p:nth-child(3){
  font-size: 20px;
  line-height: 30px;
}
.quote{
  font-size: 60px;
  color: #7a563f;
  text-align: center;
}
.quote-div{
  justify-content: center;
  align-items: center;
}
.quote-section{
  margin: 10% 7%;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* STORY PAGE */
.story-section-1{
  margin-top: 130px;
  justify-content: center;
  align-items: center;
}
.story-section-1 span{
  display: inline-block;
  border-bottom: 2px solid;
  line-height: 0.5em;
  font-size: 60px;
}
.parallax1{
    background-image: url("https://www.vertical-blinds-direct.co.uk/blog/wp-content/uploads/2015/08/linen-542866_1280.jpg");
    height: 50vw;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.story-div {
  padding: 13%;
  border-bottom: 1px solid #7a563f;
}
.silicon-valley{
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #7a563f;
  padding: 10% 13%;
}
.silicon-valley p:nth-child(1){
  font-size: 48px;
  font-style: italic;
  margin-bottom: 20px;
}
.silicon-valley p:nth-child(2){
  font-size: 20px;
  line-height: 30px;
}
/* PARTNERS */
.partners-header{
  justify-content: center;
  font-size: 72px;
  color: #7a563f;
  margin: 160px 0 100px 0;

}
.logo-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  background: #7a563f;
  margin-top: -8px;
  margin-bottom: -8px;
}
.logo-grid > div {
  background: transparent;
  padding: 1rem;
}
.logo-grid > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.logo-grid > div {
  /* ... */
  display: grid;
}
.logo-grid > div::before,
.logo-grid > div > img {
  grid-area: 1 / 1 / 2 / 2;
}
.logo-grid > div > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}